// colors
$yellow-1: #ffc700;
$yellow-2: #ffd84c;
//---------------
$red-1: #eb5757;
//----------------
$grey-1: #ddd;
$grey-2: #a9a9a9;
$grey-3: #b5b5b5;
// ---------------
$blue-1: #eaf2fd;
$blue-2: #2f80ed;
// ----------------
$black-1: #545454;
$black-2: #282828;
// --------------------
$white-1: #fff;
$white-2: #e0e0e0;
$white-3: #f9fcff;

// ----------------
// -----------------
$primary: $yellow-1;
$primary-hover: $yellow-2;
$primary-txt: $black-1;
// -----------------
$secondary: $blue-2;
$secondary-hover: $blue-1;
$secondary-txt: $grey-2;
// -------------------
$neutral: $grey-1;
$neutral-txt: $grey-3;
// -------------------
$error: $red-1;

// тут пишу только переменные!!!
